*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 14px
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital@1&display=swap');
.container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    padding: 0px 15px;
    margin: 0px auto;
    height: 100vh;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(Layer.png) no-repeat;
    background-size: center;
}
ul{
    list-style-type: none;
}
a{
    color: #FFFF;
    text-decoration: none;
}
.header-inner{
    width: 100%;
}
.header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header-menu-nav{
    display: flex;
    margin-right: 50px;
}
li:hover{
    font-size: 110%;
}
.header-item{
    margin: 0px 15px;
}
span{
    font-size: 24px;
    line-height: 36px;
    color:  white;
    margin-left: 100px;
}
span:hover{
    font-size: 26px ;
}
.header-intro{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 48px;
    color: white;
    line-height: 48px;
    align-items: center;
}
.header-intro > p{
    font-size: 20px;
    line-height: 20px;
    color: white;
    margin: 30px 0px;
    text-align: center;
}
.btn{
    font-size: 20px;
    border: solid rgb(255, 255, 255) 2px;
    padding: 15px;
    margin: 20px 0px;
}
.btn:hover{
    box-shadow: 0 0 20px black;
}
.top{
    font-size: 20px;
    text-align: center;
    color: #555;
    margin-top: 150px;
}
.bot{
    font-size: 16px;
    font-family: "Roboto" sans-serif;
    text-align: center;
    color: #555;
}
hr{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.middle-top-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Services{
    height: 55px;
    width: 55px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.Services:hover{
    transform: scale(1.2);
}
.lorem{
    font-family:"Roboto" sans-serif;
    color: #555;
    font-size: 14px;
    text-align: center;
}
.middle-bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box1,.box2,.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 50px;
}

.footer{
    background-color:#C0301C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto ;
}
.img-serv{
    display: flex;
    flex-direction: row;
}
.Con{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.Con:hover{
 transform: scale(1.3);
background-color: rgb(199, 195, 195);
}
.end{
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-bottom: 100px;
}